/* scrollar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

/* scrollar */
.banner .banner_content {
  padding: 12rem 0 6rem 0;
}
.banner .banner_content .iduherr_left h1 {
  line-height: 1.4;
  letter-spacing: 1.5px;
  font-weight: 800;
}
.banner .banner_content .iduherr_left h1 span {
  color: var(--main-orange-color);
}
.banner .banner_content .iduherr_left #typing {
  height: 2rem !important;
  font-family: var(--font-family-lato) !important;
  font-weight: 600 !important;
  line-height: 1.4 !important;
  font-size: 1.4rem !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  border-right: 2px solid #3fb9d1 !important;
  display: inline-block !important;
  padding-right: 10px !important;
}
.banner:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3rem;
  background-image: var(--white-shade-linear-gradient);
  bottom: 0;
}

.section2 {
  width: 100%;
  background: var(--light-main-background-color);
  position: relative;
}
.section2:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3rem;
  background: var(--white-shade-linear-gradient);
  transform: rotate(180deg);
  top: 0;
  left: 0;
}
.section2:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3rem;
  background: var(--white-shade-linear-gradient);
  bottom: 0;
  left: 0;
}

.ndfjgf h4 {
  margin-top: 1.4rem;
  letter-spacing: 1.2px;
  word-spacing: 4px;
}

.hjfgdfgfg h2 {
  text-align: center;
  letter-spacing: 1px;
}
.hjfgdfgfg span {
  color: #ee6c29;
}

.jdhfhddf {
  width: 100%;
}
.jdhfhddf img {
  width: 100%;
  max-height: 100%;
  border-radius: 0 25px 25px 0;
  box-shadow: 3px 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.mkjghfdfgg {
  width: 100%;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 7px 0 7px 7px;
}

.kjdrhgjdfgf {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #cacaca;
  border-right: 0;
  border-radius: 30px 0 0 0;
}
.kjdrhgjdfgf h3 {
  font-size: 20px;
}
.kjdrhgjdfgf .duiher {
  background: var(--main-orange-color);
  color: #fff;
  width: 50%;
  position: relative;
}
.kjdrhgjdfgf .duiher:after {
  position: absolute;
  content: "";
  border-top: 45px solid transparent;
  border-right: 25px solid #fff;
  border-bottom: 45px solid transparent;
  top: 0;
  right: 0;
}

/*start owl 1*/
/*start owl 1*/ /*start owl 1*/
.mfkjghhdfgd {
  width: 100%;
  /*height: 300px;*/
}
.mfkjghhdfgd img {
  width: 100%;
  height: 100%;
}

.fkjhgfj {
  text-align: center;
}
.fkjhgfj h4 {
  margin-bottom: 0;
  color: #000;
  padding-top: 10px;
  font-weight: 600;
}
.fkjhgfj p {
  margin: 5px 0;
  color: #444444;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.fkjhgfj i {
  font-size: 20px;
  color: rgb(248, 179, 16);
}

/*end owl 1*/ /*end owl 1*/
.khjfdgdf {
  width: 100%;
  padding: 40px 0;
}

.duihdda .uifrsdfff_circle {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.25);
}
.duihdda .uifrsdfff_circle img {
  width: 100%;
}

.jbhgjfg1 h4 {
  line-height: 40px;
}

.jhgdfg h5 {
  font-size: 20px;
}

.hbgfgfghf h2 {
  text-align: center;
}
.hbgfgfghf span {
  color: #ee6c29;
}

.uihfdff_right h5 {
  font-weight: 600;
}
.uihfdff_right p {
  font-size: 1rem;
  letter-spacing: 0.48px;
  text-align: left;
  color: #5a5a5a;
  font-weight: 600;
  border-bottom: 1px solid #aeaeae;
}

/*tab content*/

.mfkjhgjfhf .tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.duiehrr_dropdwn ul {
  position: absolute;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.defdweregee:hover .edfrerteee_list {
  display: block !important;
}

.edfrerteee_list li {
  list-style: none;
}
.duiehrr_dropdwn .tab-link {
  list-style: none;
  padding: 5px 5px;
  border-bottom: 1px solid #d5d5d5;
}

.ghudiahoidead .tabs .tab-link {
  color: #222;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  background-color: #ffffff;
  border: 2px solid #ee6c29;
  padding: 6px 15px !important;
  border-radius: 25px;
  margin-right: 15px;
  font-family: var(--font-family-lato);
  font-size: 17px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.ghudiahoidead .tabs .tab-link.cccccsa {
  border: none;
  background-color: #ee6c29;
  color: #fff !important;
  padding: 6px 15px !important;
  border-radius: 25px;
  font-size: 17px !important;
  font-weight: 600;
  margin-top: 15px;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.ghudiahoidead .tab-contentsa {
  display: none;
  padding: 15px;
  margin-top: 50px;
}

.ghudiahoidead .tab-contentsa.cccccsa {
  display: inherit;
}

.ghudiahoidead {
  text-align: center;
}

/*slider start*/

.udguafr_slider .uihderr img{
  width: 1rem !important;
}

.uihderr{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 2px 5px;
}

.udguafr_slider i{
  font-size: 0.8rem;
}    

.udguafr_slider h5{
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  color: #434242;
}

.udguafr_slider button{
  font-size: 0.8rem !important;
  padding: 0.2rem 0.8rem;
}

.duigher_circle{
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 50%;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.diuh_image{
  width: 100% !important;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.udguafr_slider .owl-stage-outer{
  padding-bottom: 1rem;
}

.udguafr_slider .uihderr img{
  width: 2rem;
}

.uihderr_slider .duiereee{
  font-weight: 600;
  color: #444;
}

/*slider end*/

.section3 {
  width: 100%;
}

.tabs__buttons--container {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  margin-top: 20px;
}

.tabs__tab-btn {
  border: none;
  background-color: #ee6c29;
  color: white;
  padding: 8px 25px;
  border-radius: 25px;
  font-weight: 600;
  font-family: var(--font-family-lato);
  font-size: 1.2rem !important;
  border: 2px solid #fff;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.tabs__tab-btn--not-selected {
  /* border-bottom-color: #eeeeee; */
  background-color: #ffffff;
  border: 2px solid #ee6c29;
  color: rgb(0, 0, 0);
}

.tabs__tab--hide {
  display: none;
}

.tabs__tab--show {
  display: block;
}

.tabs__tab {
  animation: tabApear 0.6s;
}

@keyframes tabApear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hjgfdfg {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  min-height: 125px;
  line-height: 125px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  max-height: 125px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.hjgfdfg img {
  max-width: 100%;
  max-height: 125px;
}

.kjdhhjgd {
  border-radius: 10px;

  border: solid 1px var(--light-grey-border);
}

.mhgf {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid var(--main-orange-color);
  cursor: pointer;
}
.mhgf i {
  top: 50%;
  left: 50%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
  color: var(--main-orange-color);
}

.nfhjdfghfdghf .rlknjhgjfg {
  pointer-events: none;
  padding-right: 0.4rem;
}
.nfhjdfghfdghf .rlknjhgjfg i {
  color: var(--main-orange-color);
}
.nfhjdfghfdghf .rlknjhgjfg p {
  font-size: 0.9rem;
  letter-spacing: 0.36px;
  color: #878787;
  font-weight: 600;
}

.rlknjhgjfg1 {
  font-family: var(--font-family-lato);
  border: 0;
  height: 30px;
  border-radius: 50px;
  font-size: 0.8rem;
  font-weight: 600;
}

.oidefrgtry {
  background: var(--light-orange-background-color);
  color: var(--main-orange-color);
}

.ihjsifddd {
  background: #cff4ff;
  color: #1485a9;
}

.cdcdsgvdsd {
  background: #ccf2e4;
  color: #03a96c;
}

.hjgfjgfgf button {
  border-radius: 50px;
  border: 1px solid var(--light-grey-border);
  background: #fff;
  padding: 0.3rem 0.7rem;
  color: var(--light-highlighted-text-color);
  font-family: var(--font-family-lato);
  font-size: 0.9rem;
}

.mngjkfhg {
  text-align: center;
}

.section4 {
  width: 100%;
}
.section4 .uihderrr .tab-container .uydwgeaheoiwee {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  box-shadow: 0 4px 107px 2px rgba(238, 108, 41, 0.25);
  border: solid 1px var(--main-orange-color);
  background-color: rgba(238, 108, 41, 0.21);
  margin: auto;
  transform: translateY(5rem);
}
.section4 .uihderrr .tab {
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  padding: 10px 20px;
  font-family: var(--font-family-lato);
  position: absolute;
  box-shadow: 0 0 22px 1px rgba(238, 108, 41, 0.25);
  background-color: #fff;
  border-radius: 50%;
  z-index: 9;
}
.section4 .uihderrr .tab .ugdeerrf {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section4 .uihderrr .tab .ugdeerrf i {
  font-size: 1.6rem;
  margin-bottom: 5px;
  color: var(--main-orange-color);
}
.section4 .uihderrr .tab.active .ugdeerrf i {
  color: #fff;
}
.section4 .uihderrr .tab .ugdeerrf h5 {
  font-weight: 600;
  letter-spacing: 0.56px;
}
.section4 .uihderrr .tab .ugdeerrf h6 {
  font-size: 0.9rem;
}
.section4 .uihderrr .tab:nth-of-type(4n-3) {
  top: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.section4 .uihderrr .tab:nth-of-type(4n-3):before {
  position: absolute;
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  box-shadow: 0 4px 10px 5px rgba(238, 108, 41, 0.25);
  border-radius: 50%;
  background-color: #ee6c29;
  left: -60%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section4 .uihderrr .tab:nth-of-type(4n-2) {
  top: 50%;
  right: -3.5rem;
  transform: translateY(-50%);
}
.section4 .uihderrr .tab:nth-of-type(4n-2):before {
  position: absolute;
  content: "";
  width: 1.75rem;
  height: 1.75rem;
  box-shadow: 0 4px 10px 5px rgba(30, 191, 241, 0.25);
  background-color: #1ebff1;
  border-radius: 50%;
  right: 35%;
  top: -70%;
  transform: translate(-50%, -50%);
}
.section4 .uihderrr .tab:nth-of-type(4n-1) {
  bottom: -3.5rem;
  left: 54%;
  transform: translateX(-50%);
}
.section4 .uihderrr .tab:nth-of-type(4n-1):after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  box-shadow: 0 4px 10px 5px rgba(238, 41, 183, 0.25);
  background-color: #ee29b7;
  border-radius: 50%;
  right: -75%;
  top: 15%;
  transform: translate(-50%, -50%);
}
.section4 .uihderrr .tab:nth-of-type(4n) {
  top: 46%;
  transform: translateY(-50%);
  left: -3.5rem;
}
.section4 .uihderrr .tab:nth-of-type(4n):after {
  position: absolute;
  content: "";
  width: 1.85rem;
  height: 1.85rem;
  box-shadow: 0 4px 10px 5px rgba(243, 189, 50, 0.25);
  background-color: #f3bd32;
  border-radius: 50%;
  right: 0;
  bottom: -100%;
  transform: translate(-50%, -50%);
}
.section4 .uihderrr .tab.active {
  background-color: var(--main-orange-color);
  color: #fff;
}
.section4 .uihderrr .tab-content {
  display: none;
}
.section4 .uihderrr .tab-content img {
  border-radius: 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.section4 .uihderrr .tab-content p {
  line-height: 1.83;
  letter-spacing: 1.2px;
  font-size: 1.2rem;
  color: var(--main-light-black-text-color);
}
.section4 .uihderrr .tab-content.active {
  display: block;
}

.bghfdg {
  text-align: center;
}
.bghfdg h2 span {
  color: #ee6c29;
}
.bghfdg p {
  color: var(--main-light-black-text-color);
  font-weight: 600;
  letter-spacing: 1px;
}

.section5::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3rem;
  background: var(--white-shade-linear-gradient);
  transform: rotate(180deg);
  top: 0;
  left: 0;
}

.gnjhbff {
  text-align: center;
}
.gnjhbff h2 span {
  color: var(--main-orange-color);
}
.gnjhbff p {
  color: var(--main-light-black-text-color);
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 1px;
}

.mfkjhgjfhf {
  text-align: center;
}

.section6 {
  width: 100%;
}

.jnhfgj {
  text-align: center;
}
.jnhfgj h2 span {
  color: var(--main-orange-color);
}
.jnhfgj p {
  color: var(--main-light-black-text-color);
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.rkgjfg {
  width: 12.5rem;
  height: 4rem;
  background: var(--main-orange-color);
  border-radius: 50% 50% 10px 50%;
}
.rkgjfg .iudherr_circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jhhjgfg h4 {
  font-size: 26px;
  line-height: 1.4;
}
.jhhjgfg p {
  font-size: 1.2rem;
  line-height: 1.9;
  color: var(--main-light-black-text-color);
}

.jhhjgf {
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.hhjdfgfd {
  margin-top: 25px;
}

.kjgbhjfgfd img img {
  width: 100%;
  height: 100%;
}

.hjgfg {
  padding: 10px 10px;
}
.hjgfg p {
  line-height: 1.9;
  letter-spacing: 0.54px;
  color: var(--main-light-black-text-color);
}

.dfnhjfg {
  text-align: right;
}
.dfnhjfg .ghbn {
  background: transparent;
  color: #000;
  border: solid 2px var(--main-orange-color);
  box-shadow: none;
}
.dfnhjfg .ghbn i {
  color: var(--main-orange-color);
}

.kjgbhjfgfd h4 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  text-align: center;
  padding-top: 5px;
  color: #fff;
  background-color: var(--main-orange-color);
  border-radius: 25px 25px 0 25px;
  box-shadow: -4px -2px 4px 0 #fff;
  bottom: 0;
  right: 0;
  line-height: 1.8;
}

.section7 {
  position: relative;
}
.section7 .duieghrrr_content {
  padding: 10rem 0 5rem 0;
}
.section7 .duieghrrr_content .dskjdfhgdfgfgfd h2 span {
  color: #ee6c29;
}
.section7 .duieghrrr_content .dskjdfhgdfgfgfd p {
  font-weight: 600;
  line-height: 1.54;
  font-size: 1.2rem;
}
.section7 .duieghrrr_content .idcuhsewfrsedf .form-control {
  border-radius: 50px;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.14);
  border: solid 1px #dadada;
  padding: 1rem 10rem 1rem 3.5rem;
}
.section7 .duieghrrr_content .idcuhsewfrsedf .form-control::-moz-placeholder {
  color: #696969 !important;
  font-weight: 600;
}
.section7 .duieghrrr_content .idcuhsewfrsedf .form-control::placeholder {
  color: #696969 !important;
  font-weight: 600;
}
.section7 .duieghrrr_content .idcuhsewfrsedf i {
  font-size: 1.4rem;
  left: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--main-orange-color);
}
.section7 .duieghrrr_content .idcuhsewfrsedf button {
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
}



